<div>
  <div class="col-md-10">
    {{question-popularity question}}{{#link-to 'question' question.id}}<p>{{question.title}}</p>{{/link-to}}
  </div>
  <div class="col-md-2">
    <p>by {{question.author}}</p>
  </div>
  <hr>
  <hr>
</div>
<hr>
