<h2>About</h2>

<p>This message board was created by Erik Tolentino utilizing the JavaScript Ember framework. It was created in April, 2016 as a weekly project.</p>
<p>Questions on the homepage displaying a thumbs-down indicate questions with less than 3 answers. Those with a thumbs-up have 3-5 answers, and those with both a thumbs-up and fire indicate our most popular questions which have more than 5 answers.</p>

<p>Enjoy!</p>
