<header class="jumbotron">
  <h1>Message Board</h1>
</header>

<div class="container">
  {{outlet}}
</div>


<hr>
<footer class="container">
  <p>{{#link-to 'index'}}Home{{/link-to}} | {{#link-to 'admin'}}Admin{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}</p>
</footer>
