<h2>Contact</h2>
<p>If you wish to contact Erik Tolentino, please direct all emails to tolentino3575@gmail.com</p>
<p>You may view all the projects he has worked on and contributed to by searching GitHub under the username tolentino3575.</p>
