<h4>Ask a question, find an answer!</h4>


{{#each model.questions as |question|}}
  {{question-til question=question}}
  <hr>
{{/each}}
<br>
{{new-question saveQuestion='saveQuestion'}}
<br>
{{display-favorites}}
<br>
<p><u>Popular Questions:</u> </p>
{{display-popular question=model}}
