<h4>Ask a question, find an answer!</h4>


{{#each model.questions as |question|}}
  {{question-til question=question}}
{{/each}}
<br>
{{new-question saveQuestion='saveQuestion'}}
<br>
{{display-favorites}}
<br>
<p>Popular Questions: {{popularQuestions}}</p>
