{{question-detail question=model}}<br>
{{update-question updateQuestion="updateQuestion" question=model}}
<hr>

<h3>Responses</h3>
<br>

{{answer-display question=model}}<br>
{{new-answer question=model saveAnswer="saveAnswer"}}
